<ion-modal-view ng-controller="ContactCtrl">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Create account</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeSignUp()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="fSignUp" ng-submit="doSignUp()">
            <h5 class="text-center">Please complete the form below</h5>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">First name</span>
                    <div ng-messages="fSignUp.first_name.$error" ng-messages-include="messages.html"></div>
                    <input type="text" ng-model="signData.first_name" name="first_name" required ng-minlength="3" placeholder="First name">
                </label>

                <label class="item item-input">
                    <span class="input-label">Last name</span>
                    <div ng-messages="fSignUp.last_name.$error" ng-messages-include="messages.html"></div>
                    <input type="text" ng-model="signData.last_name" name="last_name" required ng-minlength="3" placeholder="Last name">
                </label>

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <div ng-messages="fSignUp.email.$error" ng-messages-include="messages.html"></div>
                    <input type="email" ng-model="signData.email" name="email" placeholder="Your email" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <div ng-messages="fSignUp.phone.$error" ng-messages-include="messages.html"></div>
                    <input type="tel" ng-model="signData.phone" name="phone" placeholder="Phone number" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <div ng-messages="fSignUp.password.$error" ng-messages-include="messages.html"></div>
                    <input type="password" ng-model="signData.password" name="password" placeholder="Password" required ng-minlength="6">
                </label>

                <label class="item item-input">
                    <span class="input-label">Retry</span>
                    <div ng-messages="fSignUp.password2.$error" ng-messages-include="messages.html"></div>
                    <input type="password" ng-model="signData.password2" name="password2" placeholder="Retry password" required ng-minlength="6">
                </label>

                <div class="item">
                    <button class="button button-block button-outline button-positive" type="submit" ng-disabled="fSignUp.$invalid">Sign Up</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
