<ion-modal-view >
    <ion-header-bar class="bar-positive">
        <h5 class="title">Protección de datos</h5>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeTerms()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <h4 class="title">Pol&iacute;tica de protección de datos</h4>
        <p>BRITT SHOP LOYALTY PROGRAM solicita a los afiliados información básica y no sensible como Nombre, teléfono, correo y fecha de nacimiento y utilizará los datos para fines únicos del programa para el adecuado desarrollo de sus actividades comerciales, previa autorización del cliente al momento de afiliarse.</p>
<p>El afiliado podrá revocar su consentimiento para el tratamiento de sus datos personales escribiendo al correo de contacto del programa.
        </p>
    </ion-content>
</ion-modal-view>
