// Mixins
// -------------------------------------------

// Set a background image

@mixin background-img($name,$size:25px) {
    background-image: url(#{$icons-path}/#{$name}.png) !important;    
    background-size: $size !important;
}


// Fonts
//--------------------------------------------

@font-face {
    font-family: 'LibreBaskerville';
    src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype'),
         url('../fonts/LibreBaskerville-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'LibreBaskerville' !important;
}


// Variables
// -------------------------------------------

$icons-path: '../img/icons';


// Colors
// -------------------------------------------

$light:                           #ffffff !default;
$stable:                          #a01e20 !default; /* f8f8f8 */
$positive:                        #a01e20 !default; /* 387ef5 */
$calm:                            #a01e20 !default; /* 11c1f3 */
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;


// Images
// -------------------------------------------

.full-image img {
    width: 100%;    
}
.full-image.image-content p {
    height: 0 !important;
}

// Content
// -------------------------------------------

.swiper-container {
    overflow-y: auto !important;
}
.swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
    border: #fff 2px solid !important;
}
.hide-element {
    display: none !important;
}
.float-right {
    float: right
}
.tiendas .list {
    a, h1, h2, h3, p {
        font-size: 0.95em !important; 
        white-space: normal;
    }
}


// Countries
// -------------------------------------------

.countries {
    min-height: 60px;
    margin: 0 auto 10px auto;
    top: 8px;
    position: relative;
    width: 100%;
    
    span {
        background-size: 40px 25px !important;
        padding: 13px 20px !important;
        background-repeat: no-repeat !important;
        height: 1px !important;
        filter: grayscale(80%);
        margin: 0 5px 5px 5px;
        float: left;
    
        &.active {
            filter: grayscale(0) !important;    
        }
    }
}

.terms .flags span:first-child {
    position: relative;
    top: 10px !important;
}
.terms .flags .item-content {
    padding-right: 0 !important;
}

// Header
// -------------------------------------------

.bar.bar-stable .title {
    color: #c4a8a8 !important;
}
.ion-help-buoy:before {
    color: $light !important;
}

// Tab icons
// -------------------------------------------

.tab-item {
    opacity: 1 !important;

    .icon {
        height: 38px !important;
        margin: 5px auto !important;
    }
}

.tab-item i {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.icon-britt-home {@include background-img('home',30px);}
.icon-britt-points {@include background-img('points',40px);}
.icon-britt-products {@include background-img('products',35px);}
.icon-britt-map {@include background-img('map',30px);}
.icon-britt-contact-us {@include background-img('contact-us',30px);}

// Footer
// -------------------------------------------

.bar-footer {
    
    background-image: none !important;
    height: 60px !important;
    
    a {
        width: 100% !important;
        margin: 0 !important;
        line-height: 42px !important;
        font-size: 16px !important;
    }
    
    h1 {
        line-height: 52px !important;
    }
}